<!-- customers.hbs -->

{{!-- Create a table --}}
<table id="employees-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value="{{this.employeeID}}">
            <td>{{this.employeeID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.position}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNumber}}</td>
            <td><button onclick="deleteEmployee({{this.employeeID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_employee.js"></script>

{{!-- Form to search a record to the table  --}}
<h2>Search for an Employee</h2>
<p>Search by name using the field below.</p>
<form id="search-employee-html" method='GET' action='/employees'>
    <label for="input-employee">Search by Name: </label>
    <input type="text" name="employee" id="input-employee-html-search">

    <input type="submit">
    <a href="/employees"><button>Reset</button></a>
</form>

{{!-- Form to add a record to the table  --}}
<h2>Add Employee</h2>
<p>To add a new employee, please enter their information below and click 'Submit'!</p>
<form id="add-employee-form" method = "POST" action="add-employee-form">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-email">Position: </label>
    <input type="text" name="input-position" id="input-position">

    <label for="input-email">E-Mail: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-phoneNumber">Phone Number: </label>
    <input type="number" name="input-phoneNumber" id="input-phoneNumber">

    <input type="submit">
</form>