<!-- customers.hbs -->

{{! Create a table }}
<table id="orders-table">

  {{! Header section }}
  <thead>

    {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
    <tr>
      {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
      {{/each}}
      <th>Delete</th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>

    {{#each data}}
      <tr data-value="{{this.orderID}}">
        <td>{{this.orderID}}</td>
        <td>{{this.customerID}}</td>
        <td>{{this.employeeID}}</td>
        <td>{{this.dateTime}}</td>
        <td>{{this.orderTotal}}</td>
        <td><button onclick="deleteOrder({{this.orderID}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script src="./js/delete_order.js"></script>

{{! Form to search a record to the table  }}
<h2>Search for a Order</h2>
<p>Search by order ID using the field below.</p>
<form id="search-order-html" method="GET" action="/orders">
  <label for="input-order">Search by Order ID: </label>
  <input type="text" name="order" id="input-order-html-search" placeholder="1"  />

  <input class="submitBtn" type="submit" />
  <button class="resetBtn">
    <a href="/customers">Reset</a>
  </button>
</form>

{{! Form to add a record to the table  }}
<h2>Add Order</h2>
<p>To add a new order, please enter their information below and click 'Submit'!</p>
<form id="add-order-form" method="POST" action="add-order-form">
  <label for="input-customerID">customerID: </label>
  <input type="text" name="input-customerID" id="input-customerID" placeholder="5" required/>

  <label for="input-employeeID">employeeID: </label>
  <input type="text" name="input-employeeID" id="input-employeeID"  placeholder="3" required/>

  <label for="input-dateTime">dateTime: </label>
  <p class="formatMsg">Enter in YYYYMMDDHHMMSS format.</p>
  <p class="formatMsg">For example 2023-10-1, 09:10:20 is 20231001091020</p>
  <input
    type="text"
    name="input-dateTime"
    id="input-dateTime"
    placeholder="20231001091020"
    required
  />

  <label for="input-orderTotal">orderTotal: </label>
  <p class="formatMsg">Enter in 000.00 format.</p>
  <input
    type="number"
    name="input-orderTotal"
    id="input-orderTotal"
    placeholder="100.00"
    required
  />

  <input class="submitBtn" type="submit" />
</form>