<!-- customers.hbs -->

{{!-- Create a table --}}
<table id="suppliers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value="{{this.supplierID}}">
            <td>{{this.supplierID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNumber}}</td>
            <td><button onclick="deleteSupplier({{this.supplierID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_supplier.js"></script>

{{!-- Form to search a record to the table  --}}
<h2>Search for a Supplier</h2>
<p>Search by supplier using the field below.</p>
<form id="search-supplier-html" method='GET' action='/suppliers'>
    <label for="input-supplier">Search by Supplier: </label>
    <input type="text" name="supplier" id="input-supplier-html-search">

    <input class="submitBtn" type="submit">
    <a href="/suppliers"><button>Reset</button></a>
</form>

{{!-- Form to add a record to the table  --}}
<h2>Add Supplier</h2>
<p>To add a new supplier, please enter their information below and click 'Submit'!</p>
<form id="add-supplier-form" method = "POST" action="add-supplier-form">

    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-phoneNumber">Phone Number: </label>
    <input type="number" name="input-phoneNumber" id="input-phoneNumber">

    <input class="submitBtn" type="submit">
</form>